body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 253, 195, 1) 0%,
    rgba(252, 176, 69, 1) 100%
    
  );
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: xx-large;
  text-align: center;
}

img {
  widows: 90px;
  height: 90px;
  position: relative;
  display: none;
}
